<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558373899791-l2id7s9jqpg5fabhllf51d7p554q9llc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558373899791-l2id7s9jqpg5fabhllf51d7p554q9llc</string>
	<key>API_KEY</key>
	<string>AIzaSyBNEP50wsjLtkgsy6frUvZenQJ40rUrEBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>558373899791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.treningApp</string>
	<key>PROJECT_ID</key>
	<string>trening-app-89bf5</string>
	<key>STORAGE_BUCKET</key>
	<string>trening-app-89bf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558373899791:ios:aa4c7da5d7a108a0811d7a</string>
</dict>
</plist>